* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #2BAE66FF;
    margin: 0 auto;
}
.mainWrap{
    width: 100%;
}
.wrap{
    width: 960px;
    display: block;
    margin: 0 auto;
}
.headerBg{
    background-color: #2BAE66FF;
    border-bottom: 3px solid gray;
}
.navBg{
    background-color: #333D79FF;
    border-bottom: 3px solid gray;
}

#header {
    background-color: #2BAE66FF;
    padding: 20px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

#header h1 {
    color: #FCF6F5FF;
    font-family: 'Ranchers', cursive;
}
#header p {
    color:  #FCF6F5FF;
    font-size: 20px;
}
span {
    color: #373020;
}
#nav{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
#nav ul{
    list-style-type: none;
    min-height: 39.5px;
    z-index: 999;
}
#nav ul li{
    float: left;
    border-right: 1px solid #4452a2;
    border-left: 1px solid #1e2448;
    position: relative;
}
#nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10.5px 20px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
#nav ul li a:hover{
    background-color: #FAEBEFFF;
    color: #333D79FF;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}
#nav ul li:last-child {
    border-right: none;
}
#nav ul li:first-child{
    border-left: none;
}
#nav ul li ul{
    position: absolute;
    background-color: #333D79FF;
    left: -99999px;
    margin-top: 4px;
}
#nav ul li ul li{
    float: left;
    border-right: none;
    border-left: none;
    border-top: 1px solid #4452a2;
    border-bottom: 1px solid #1e2448;
    width: 160px;
    position: relative;
}
#nav ul li ul li:first-child{
    border-top: none;
}
#nav ul li ul li:last-child{
    border-bottom: none;
}
#nav ul li:hover ul{
    left: 0;
}
#nav ul li ul li ul{
    position: absolute;
    top: -99999px;
}
#nav ul li ul li:hover ul{
    top: -4px;
    left: 160px;
}

#sliderWrapper{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
#contentWrapper{
    background-color: #2BAE66FF;
    padding: 10px;
    overflow: hidden;
    color: #FAEBEFFF;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}
.more{
    color: darkblue;
    font-size: 13px;
    text-decoration: none;
}
.more:hover{
    color: blue;
    text-decoration: underline;
}

#content{
    width: 620px;
    float: left;
    margin-right: 70px;
}
#content h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
#content h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    color: black;
}
#content p {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
}
figure img{
    width: 100%;
}
#content figure{
    width: 75%;
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
#content figcaption{
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}
#content blockquote{
    background-color: #ddd;
    margin-left: 50px;
    padding: 10px;
    padding-left: 23px;
    border-left: 2px solid orange;
    color: black;
}
#sidebar{
    width: 248px;
    float: left;
}
#sidebar h3{
    color: black;
    padding-bottom: 10px;
}
#sidebar ul{
    list-style-type: none;
    padding: 0;
}
#sidebar ul li a {
    text-decoration: none;
    color: lightskyblue;
    padding: 3px;
}
#sidebar ul li a:hover {
    color: blue;
    text-decoration: underline;
}
#footer{
    padding: 8px;
    text-align: center;
}
#footer p{
    color: white;
}
.footerBg{
    background-color: gray;
}


/* INSIDE OR BLOG PAGE */
#imageWrap img{
    width: 120px;
    height: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 3px;
    margin-right: 5px;
    float: left;
    margin-right: 15px;
}

#imageWrap p{
    float: left;
    width: 477px;
    margin-top: 0;
}
#imageWrap{
    margin-top: 10px;
}
.mainArticlesingle{
    margin-bottom: 25px;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
}
.mainArticlesingle:last-child{
    border-bottom: none;
}
.mainArticlesingle h2{
    color: black;
}
.mainSidebar{
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    padding-left: 25px;
    margin-bottom: 20px;
}
.mainSidebar:last-child{
    border-bottom: none;
}